<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>发布</title>
    <link rel="stylesheet" href="{skin:lb/style/reset.css}"/>
    <link rel="stylesheet" href="{skin:lb/style/index.css}">
    <link rel="stylesheet" href="{skin:lb/style/swiper.min.css}">
    <script type="text/javascript" src="{skin:lb/js/jquery.min.js}"></script>
    <script type="text/javascript" src="{skin:lb/js/swiper.min.js}"></script>
    <script type='text/javascript' src='{theme:javascript/jquery.raty.js}'></script>
    <script src='{theme:javascript/LocalResizeIMG.js}'></script>
    <script src='{theme:javascript/patch/mobileBUGFix.mini.js}'></script>
</head>

<body>
{viewcontent}
<!--底部导航开始-->
<nav class="footer-nav skin-fnav">
    <a id="idxBtn" href="{url:site/index}"><i class="iconfont">&#xe605;</i><em>首页</em></a>
    <a href="#"><i class="iconfont">&#xe63a;</i><em>发现</em></a>
    <a href="#" id="release-btn"><i class="release"><em class="iconfont">&#xe6bc;</em></i><i></i><em>发布</em></a>
    <a href="{url:ucenter/friendlist}"><i class="iconfont">&#xe63c;</i><em>消息</em></a>
    <a href="{url:ucenter/index}" class="active"><i class="iconfont">&#xe612;</i><em>我的</em></a>
</nav>
<!--底部导航结束-->
<div class="release-faq" style="display: none">
    <a href="#" class="close iconfont">&#xe767;</a>
    <div class="rf-btn">
        <a href="{url:ucenter/release_index}"><img src="{skin:lb/images/icon/img32.png}" alt=""><br>发布货源</a>
        <a href="{url:ucenter/release_seek}"><img src="{skin:lb/images/icon/img33.png}" alt=""><br>发布求购</a>
    </div>
</div>


</body>
</html>
<script>
    $(function(){})
</script>