<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>FUI</title>


    <!--reset在上面,  切记-->
    <link  rel="stylesheet" href="{skin:lb/style/reset.css}" />
    <link  rel="stylesheet" href="{skin:lb/style/index.css}" />
    <link  rel="stylesheet" href="{skin:lb/style/swiper.min.css}">
    <script type="text/javascript" src="{skin:lb/js/jquery.min.js}"></script>
    <script type="text/javascript" src="{skin:lb/js/swiper.min.js}"></script>

</head>

<body>
{viewcontent}
</body>
</html>