<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>拎贝</title>
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/reset.css}">
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/index.css}">
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/swiper.min.css}">
    {js:jquery}{js:form} {js:validate} {js:dialog} {js:artTemplate}
    <script src="{theme:javascript/common.js}"></script>
    <script src='{theme:javascript/site.js}'></script>
    <script src='{theme:javascript/mobile.js?v=20180306}'></script>
    <script src='{theme:javascript/layer_mobile/layer.js}'></script>
    <script src='{skin:lb/js/Validform_v5.3.2.js}'></script>
    <!--<script type="text/javascript" src="{skin:lb/js/jquery.min.js}"></script>-->
    <script type="text/javascript" src="{skin:lb/js/swiper.min.js}"></script>
</head>
<body>
{viewcontent}
</body>
</html>