<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>拎贝</title>
    <!--<link rel="stylesheet" href="{skin:lb/style/reset.css}"/>
    <link rel="stylesheet" href="{skin:lb/style/index.css}">
    <link rel="stylesheet" href="{skin:lb/style/swiper.min.css}">-->
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/reset.css}">
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/index.css}">
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/swiper.min.css}">

    <script type="text/javascript" src="{skin:lb/js/jquery.min.js}"></script>
    <script type="text/javascript" src="{skin:lb/js/swiper.min.js}"></script>
    <script type="text/javascript" src='{theme:javascript/layer_mobile/layer.js}'></script>
    <script type='text/javascript' src='{theme:javascript/jquery.raty.js}'></script>
    <script src='{theme:javascript/LocalResizeIMG.js}'></script>
    <script src='{theme:javascript/patch/mobileBUGFix.mini.js}'></script>
</head>

<body>
{viewcontent}
<nav class="footer-nav skin-fnav">
    <a href="{url:site/index}"><i class="iconfont">&#xe605;</i><em>首页</em></a>
    <a href="#"><i class="iconfont">&#xe63a;</i><em>发现</em></a>
    <a href="#"><i class="release"><em class="iconfont">&#xe6bc;</em></i><i></i><em>发布</em></a>
    <a href="{url:ucenter/friendlist}"><i class="iconfont">&#xe63c;</i><em>消息</em></a>
    <a href="{url:ucenter/index}" class="active"><i class="iconfont">&#xe612;</i><em>我的</em></a>
</nav>
</body>
</html>
<script>
    $(function(){})
</script>