<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>拎贝</title>
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/reset.css}">
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/index.css}">
    <link type="text/css" rel="stylesheet" href="{skin:lb/style/swiper.min.css}">
    {js:jquery}{js:form} {js:validate} {js:dialog} {js:artTemplate}
    <script src="{theme:javascript/common.js}"></script>
    <script src='{theme:javascript/site.js}'></script>
    <script src='{theme:javascript/mobile.js?v=20180306}'></script>
    <script src='{theme:javascript/layer_mobile/layer.js}'></script>
    <script src='{skin:lb/js/Validform_v5.3.2.js}'></script>
    <script type="text/javascript" src="{skin:lb/js/jquery.min.js}"></script>
    <script type="text/javascript" src="{skin:lb/js/swiper.min.js}"></script>
</head>
<body>
<div class="wrap-box">
    {viewcontent}
    <!--底部导航开始-->
    <nav class="footer-nav skin-fnav">
        <a href="{url:site/index}"><i class="iconfont">&#xe605;</i><em>首页</em></a>
        <a href="#"><i class="iconfont">&#xe63a;</i><em>发现</em></a>
        <a href="#" id="release-btn"><i class="release"><em class="iconfont">&#xe6bc;</em></i><i></i><em>发布</em></a>
        <a href="{url:ucenter/friendlist}"><i class="iconfont">&#xe63c;</i><em>消息</em></a>
        <a href="{url:ucenter/index}" class="active"><i class="iconfont">&#xe612;</i><em>我的</em></a>
    </nav>
    <!--底部导航结束-->
    <div class="release-faq" style="display: none">
        <a href="#" class="close iconfont">&#xe767;</a>
        <div class="rf-btn">
            <a href="{url:ucenter/release_index}"><img src="{skin:lb/images/icon/img32.png}" alt=""><br>发布货源</a>
            <a href="{url:ucenter/release_seek}"><img src="{skin:lb/images/icon/img33.png}" alt=""><br>发布求购</a>
        </div>
    </div>
</div>
<script>
    $(function(){
        $("#release-btn").click(function(){
            $(".release-faq").show();
        });
        $(".release-faq .close").click(function(){
            $(this).parent(".release-faq").hide();
        });
    });
</script>
</body>
</html>