<div class="wrap-box">
    <!--头部导航开始-->
    <header class="pub-header skin-header">
        <div class="left-nav"><a href="{url:ucenter/index}"><i class="iconfont">&#xe65c;</i></a></div>
        <h1 class="title"> 系统设置 </h1>
    </header>
    <!--头部导航结束-->

    <ul class="pub-form user-form mb7">
    </ul>
    <ul class="pub-form user-form mb7">
        <li>
            <a href="{url:simple/edited_password}" class="txtbox abk">
                <span class="tit">修改密码</span>
                <div class="info tr vi-gray2"></div>
                <div class="arrow iconfont">&#xe607;</div>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="#" class="txtbox abk">-->
                <!--<span class="tit">消息提醒</span>-->
                <!--<div class="info tr vi-gray2"></div>-->
                <!--<div class="arrow iconfont">&#xe607;</div>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a href="#" class="txtbox abk">-->
                <!--<span class="tit">清除缓存</span>-->
                <!--<div class="info tr vi-gray2"></div>-->
                <!--<div class="arrow iconfont">&#xe607;</div>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a href="#" class="txtbox abk">
                <span class="tit">帮助中心</span>
                <div class="info tr vi-gray2"></div>
                <div class="arrow iconfont">&#xe607;</div>
            </a>
        </li>
        <li>
            <a href="#" class="txtbox abk">
                <span class="tit">关于拎贝</span>
                <div class="info tr vi-gray2"></div>
                <div class="arrow iconfont">&#xe607;</div>
            </a>
        </li>
        <!--<li>-->
            <!--<a href="#" class="txtbox abk">-->
                <!--<span class="tit">意见反馈</span>-->
                <!--<div class="info tr vi-gray2"></div>-->
                <!--<div class="arrow iconfont">&#xe607;</div>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
    <div class="sub-box">
        <input type="button" onclick="relink('{url:simple/logout}')" value="退出登录" class="pub-btn vpink-btn">
    </div>

</div>
