<div id="pageInfo"  data-goback="{url:ucenter/info}" data-title="密码修改"></div>
<div class="login-box mtg_10">
    <form action="{url:/ucenter/password_edit}" id="login_form" method="POST" role="form">
    <ul class="login-form ret-pass pdt_30">
        <li>
            <input type="password" name="fpassword" datatype="*6-16" nullmsg="请输入原密码！" errormsg="密码范围在6~16位之间！" class="txt" placeholder="请输入原密码">
        </li>
        <li>
            <input type="password" name="password" datatype="*6-16" nullmsg="请确认新密码！" errormsg="密码范围在6~16位之间！" class="txt" placeholder="请确认新密码">
        </li>
        <li>
            <input type="password" name="repassword"  datatype="*" recheck="password"  nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！"  class="txt" placeholder="请确认新密码">
        </li>
        <li class="pdt_35">
            <input type="submit" value="修改密码" class="btn">
        </li>

    </ul>
    </form>
</div>

<script>
$(function(){
	hideNav();
    $("#login_form").Validform({
        tiptype:function(msg){
            layer.open({
                content: msg
                ,skin: 'msg'
                ,time: 2 //2秒后自动关闭
            });
        },
        tipSweep:true,
        ajaxPost:true,
        callback:function(data){
            layer.open({
                content: data.info
                ,skin: 'msg'
                ,time: 2 //2秒后自动关闭
            });
            setTimeout('relink("'+data.url+'")',2000);//1秒后执行
        }
    });
})
</script>
