	<div class="wrap-box" id="search_text">
		<!--头部导航开始-->
		<header class="pub-header">
			<div class="left-nav"><a href="#"><i class="iconfont">&#xe65c;</i></a></div>
			<div class="head-search skin-search">
			  <div class="cs-box">
				<i class="iconfont icon">&#xe60f;</i>  
				<button class="rclear iconfont" onclick="index()">&#xe602;</button>
			  </div>
			  <button class="btn">搜索</button>	
			</div>
		</header>	
		<!--搜索结果-->
		<div class="search-result">
			<div class="hot-tags">
				<div class="titlebar">
					<h1 class="tip-none"><em class="vi-gray1 ft14">热门搜索</em></h1>
					<div class="tb-nav flex-r0">
						<a href="#" class="vi-gray1">换一换</a>
					</div>
				</div>
				<div class="tags-list">
					<a href="#" class="item">小白鞋</a>
					<a href="#" class="item">短袖T恤</a>
					<a href="#" class="item">小白鞋</a>
					<a href="#" class="item">短袖T恤</a>
					<a href="#" class="item">小白鞋</a>
					<a href="#" class="item">短袖T恤</a>
					<a href="#" class="item">小白鞋</a>
					<a href="#" class="item">短袖T恤</a>
				</div>
			</div>
			<div class="history-list">
				<div class="titlebar">
					<h1 class="tip-none"><em class="vi-gray1 ft14">热门搜索</em></h1>
					<div class="tb-nav flex-r0">
						<a href="#" class="vi-gray1 iconfont ft20">&#xe699;</a>
					</div>
				</div>
				<ul class="pub-list">
					<li><a href="#">我是一个大坏帅哥.我是一个大坏帅哥.我是一个大坏帅哥.我是一个大坏帅哥.</a></li>
					<li><a href="#">我是一个大坏帅哥.</a></li>
				</ul>
				
				
				
				
			</div>
		
		</div>
		
	</div>

	<script>
		function index() {
			window.location.href="{url:site/index}";
		}
	</script>