<div class="wrap-box wrap-login">
    <!--头部导航开始-->
    <header class="pub-header">
        <div class="left-nav"><a href="javascript:history.go(-1) "><i class="iconfont">&#xe65c;</i></a></div>
        <h1 class="title"> 找回密码 </h1>
    </header>
    <form action='{url:/simple/find_password_email}' id="login_form" method='post'>
        <input type="hidden" name='callback' value="{$callback}" />
        <ul class="login-form">
            <li class="txtbox"><input type="text" class="txt" name="email" datatype="e" nullmsg="请输入邮箱地址" errormsg="请填写正确邮箱地址" placeholder="输入邮箱地址"><i class="iconfont">&#xe635;</i></li>
            <li class="pt10"><input type="submit" value="确定" class="pub-btn vpink-btn"></li>
        </ul>
        <div class="deal">已同意<span class="vi-pink2">《拎贝用户协议》</span></div>
    </form>
</div>
<script>
    $(function(){
        hideNav();
        $(".category-search").hide();
        $("#login_form").Validform({
            tiptype:function(msg){
                layer.open({
                    content: msg
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                console.log(1111);
                if(data.info == "恭喜您，密码重置邮件已经发送！请到您的邮箱中去激活"){
                    console.log(2222);
                    layer.open({
                        content: data.info
                        ,skin: 'msg'
                        ,time: 10 //2秒后自动关闭
                    });
                    setTimeout('relink("'+data.url+'")',3000);//1秒后执行
                }else{
                    console.log(3333);
                    layer.open({
                        content: data.info
                        ,skin: 'msg'
                        ,time: 2 //2秒后自动关闭
                    });
                }
            }
        });

    })

</script>