<div class="wrap-box wrap-login">
    <!--头部导航开始-->
    <header class="pub-header">
        <div class="left-nav"><a href="#"><i class="iconfont"></i></a></div>
        <h1 class="title"> 密码重置 </h1>
    </header>
<div class="login-box mtg_10">
    <form action='{$this->formAction}' id="login_form" method='post'>
    <ul class="login-form ret-pass pdt_30">
        <li class="txtbox"><input type="password" class="txt" name="password" datatype="*6-16" nullmsg="请输入新密码" errormsg="密码范围在6~16位之间！" placeholder="输入新密码"><i class="iconfont">&#xe626;</i></li>
        <li class="txtbox"><input type="password" class="txt" id="repassword" name="repassword" datatype="*" recheck="password" nullmsg="请再次输入新密码！" errormsg="您两次输入的密码不一致！" placeholder="请再次输入新密码"><i class="iconfont">&#xe626;</i></li>
        <li class="pt10">
            <input type="submit" value="确认修改" class="pub-btn vpink-btn">
        </li>
    </ul>
    </form>
</div>


<script type="text/javascript">
    $(function(){
        hideNav();
        $(".category-search").hide();

        $("#login_form").Validform({
            tiptype:function(msg){
                layer.open({
                    content: msg
                    ,skin: 'msg'
                    ,time: 2 //2秒后自动关闭
                });
            },
            tipSweep:true,
            ajaxPost:true,
            callback:function(data){
                layer.open({
                    content: data.info
                    ,skin: 'msg'
                    ,time: 10 //2秒后自动关闭
                });
                setTimeout('relink("'+data.url+'")',10000);//1秒后执行
            }
        });

    })

</script>
</div>

